<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <app-side-bar></app-side-bar>

  </mat-sidenav>
  <mat-sidenav-content class="side-bar-content">
    <mat-toolbar class="toolbar" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>region</span>
    </mat-toolbar>
    <div class="dynamic-content">
      <app-dynamic-content></app-dynamic-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
