.sidenav-container
  height: 100%

.sidenav
  width: 200px
  background-color: var(--primary)


.sidenav .mat-toolbar
  background: var(--primaryLight)

.mat-toolbar.mat-primary
  position: sticky
  top: 0
  z-index: 1

.side-bar-content
  .toolbar
    background: var(--primary)

.dynamic-content
  height: calc( 100% - 60px )
