<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <app-side-bar></app-side-bar>

  </mat-sidenav>
  <mat-sidenav-content class="side-bar-content">
    <mat-toolbar class="toolbar" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>{{(globalDataService.selectedRegion | async).name}}</span>
      <button (click)="toggleTheme()" style="margin-left: auto;" mat-mini-fab color="accent">
        <mat-icon style="color: white;">{{light? 'nights_stay': 'wb_sunny'}}</mat-icon>
      </button>

    </mat-toolbar>
    <div class="dynamic-content">
      <app-dynamic-content [regions] = "globalDataService.regions | async"></app-dynamic-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
