/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css'


\:root
  --accent: rgb(0, 204, 189)
  --primary: rgb(30, 46, 74)
  --primaryLight: rgb(41, 60, 92)

html
  margin: 0
  padding: 0
  overflow: hidden
  font-size: 15px
  background: var(--primary)

body
  margin: 0
  overflow: hidden
  background: var(--primary)

*
  box-sizing: border-box

@media screen and (min-width: 320px)
  html
    font-size: calc(10px + 4 * ((100vw - 320px) / 680))

@media screen and (min-width: 1840px)
  html
    font-size: 16px


.mat-toolbar.mat-primary
  background: var(--primary)

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent
  background: var(--accent)

.mat-form-field-infix
  width: unset !important

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary
  background: var(--primary)
