.table
  display: flex
  flex-direction: column
  &__headings
    display: flex

    .heading
      flex: 1
      margin: 5px
      font-size: 1rem
      color: grey
      font-size: 600
      &.colspan2
        display: flex
        flex: 2

  &__rows
    display: flex
    flex-direction: column
    .row
      display: flex
      width: 100%
      .column
        flex: 1
        width: 90%
        margin: 5px
        mat-form-field
          margin: 0 5px
          width: 100%
        &.colspan2
          display: flex
          flex: 2
